# Composer
/vendor/
composer.phar

# PhpStorm
.idea/*

# PHPUnit
.phpunit.result.cache
phpunit.xml
/tests/coverage

# CodeSniffer
/wpcs/*
/CodeSniffer.conf
/phpcs.xml

# PHP-CS-Fixer
.php_cs.cache
.php_cs.dist

# Psalm
/.psalm/cache
