{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "tests"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "json": "infection-log.json",
        "perMutator": "per-mutator.md",
        "github": true
    },
    "testFrameworkOptions": "-vvv"
}
